body{
    background-color: thistle;
    height: 500px;
} 
.bg{
    background-color: thistle;
}
.canvas {
    background-color: white;
    width: auto;
    height: 600 px;
    margin-top:20px;
    margin-left:10px;
    float:left;
    border-style: solid;
    border-color: coral;
    
} 
.toolbar{
    width: 500px;
    text-align: right;
    width:20%;
            height:440px;
            margin-top:5px;
            margin-bottom:5px;
            margin-right:15px;
            float:right;
}
.menu {
    height: 81.5vh; 
    max-width: 600px;
    background-color: thistle;
    float: right;
    margin-top:50px;
    text-align: right;
}

#fonts{
    width: 150px;
}
td{
    max-width: 60px;
}
.column3{
    width: 60px;
}
#cir-td{
    padding-top: 6px;
} 
table{
    margin-top:70px;
    margin-left: 10px;
}
#fontSize{
    width: 100px;
    text-align: right;
}
.ftsize-td{
    padding-left: 13px;
}
#upload{
    width: 70px;
}
.up-td{
    padding-left: 6px;
}
#triangle, #rectangle{
    width: 24px;
    height: 24px;
}
  #myCanvas {
    background-color: white;
    padding-top: 10px;
    height: 480px;
} 
  
.row{
    width: 100%;
    text-align: center;
    line-height: 60px;
}
	  